* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
}

.navbar1 {
    background-color: rgb(252, 252, 252);
    width: 1450px;
    height: 70px;
    margin-top: 1px;
}

.image{
    float: left;
    padding-left: 55px;
    margin-top: 5px;
    margin-right: 120px;
}

.login{
    float: right;
    padding-top: 8px;
    padding-left: 40px;
    margin-right: 50px;
    margin-top: -60px;
    width: 130px;
    height: 45px;
    background-color: rgb(228, 226, 226);;
    border-radius: 80px;
    font-size: 25px;
}

.navbar2 {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 10vh;


}




ul li {
    display: inline-block;
    padding: 2vw;
    color: black;
}

.box {
    display: grid;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 110vh;
    align-content: center;
    padding-left: 20vw;
    
}

.text1 {
    color: white;
    font-size: 320%;
}



.text2 {
    color: white;
    font-size: 150%;

}

.text3 {
    color: white;
    font-size: 150%;
}


  input[type=text], select {
    width: 700px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


.box2{
    display: grid;
    margin-top: 20px;
}

.pic1 {
    grid-column: 1/2;
}
.pic2 {
    grid-column: 2/3;
}
.pic3 {
    grid-column: 3/4;
}

footer{
    width: 1450px;
    height: 50px;
    background-color: rgb(228, 228, 228);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    padding-bottom: 80px;
    padding-left: 1280px;
    
}
